
@{
    ViewBag.Title = "Index";
}

<div class="container container-cart">
    <div class="page-path">
        <ul class="path-list">
            <li><a href="~/Home/Index">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
            <li class="act">Cart</li>
        </ul>
        <p><a href="~/Home/Index">Back to Home</a></p>
        <div class="clearfix"></div>
    </div>
    <h3 class="page-header">
    </h3>
    <div class="forum">
        <table id="customers">
            <tbody>
                <tr>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tr>
                <tr>
                    <td colspan="3"> No product in cart</td>
                </tr>



            </tbody>
        </table>

    </div>
    <div class="text-right" style="margin-top:10px">


        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-arrow-circle-left"></i>Continue Shopping</a>
        <a class="btn " href="#" style="background:#e2542a; color: #fff!important;" role="button">Checkout</a>
    </div>
</div>


