@{
    ViewBag.Title = "About";
}
<div class="games">
    <div class="container">
        <div class="page-path">
            <ul class="path-list">
                <li><a href="~/Home/Index">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
                <li class="act">About us</li>
            </ul>
            <p><a href="~/Home/Index">Back to Home</a></p>
            <div class="clearfix"></div>
        </div>
        <h3 class="page-header">
            About us
        </h3>
        <div class="banner-bot">
            <div class="container">
                <h2 style="font-size: 3em;">WELCOME TO AlgorithmColibri</h2>
                <p>Corporate headquarters</p>
                <p>Kyiv, Ukraine</p>
                <p>AlgorithmColibri was founded in 2018, which was originally engaged in the development of custom games with</p>
                <p>using technology UNITY 3D Engine. The UNITY 3D Engine technology provides the highest level and quality</p>
                <p>of interactive entertainment on a PC. consoles, mobile platforms, virtual and augmented reality devices,</p>
                <p>as well as in web applications. UNITY 3D Engine is available for free at unity.com.</p>
                <p>You can follow the studio news here: @@AlgorithmColibriGamesStore.</p>
                <br>
                <p>Need help with your account?</p>
                <p>Please contact our support center.</p>
                <br>
                <p>Are you a press representative?</p>
                <p>Then write to algorithmcolibri@gmail.com. This email address is intended only</p>
                <p>to communicate with the media.</p>
                <br>
                <br>
                <p>Algorithm Colibri, Inc.</p>
                <p>420 Shevchenka Street.</p>
                <p>Kyiv, Ukraine</p>
                <p> Tel: +1 919 854 0070</p>
            </div>
        </div>
    </div>
</div>

