@{
    ViewBag.Title = "About";
}
<div class="games">
    <div class="container">
        <div class="page-path">
            <ul class="path-list">
                <li><a href="~/Home/Index">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
                <li class="act">About us</li>
            </ul>
            <p><a href="~/Home/Index">Back to Home</a></p>
            <div class="clearfix"></div>
        </div>
        <h3 class="page-header">
            About us
        </h3>
        <div class="banner-bot">
            <div class="container">
                <h2 style="font-size: 3em;">WELCOME TO AlgorithmColibri</h2>
                <p>AlgorithmColibri is a creator of worlds, committed to enriching players' lives with original and memorable gaming experiences.</p>
            </div>
        </div>
    </div>
</div>

