
@{
    ViewBag.Title = "Games";
}

<!-- Games Page Starts here -->
<div class="games">
    <div class="container">
        <div class="page-path">
            <ul class="path-list">
                <li><a href="~/Home/Index">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
                <li class="act">Games</li>
            </ul>
            <p><a href="~/Home/Index">Back to Home</a></p>
            <div class="clearfix"></div>
        </div>
        <h3 class="page-header">
            List of Games Here
        </h3>
        <div class="main">
            <div class="view view-first">
                <img src="~/img/testMusor/1.jpg" />
                <div class="mask">
                    <h2>Game Never</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/2.jpg" />
                <div class="mask">
                    <h2>Online Game</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/3.jpg" />
                <div class="mask">
                    <h2>Delmen lorem</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/4.jpg" />
                <div class="mask">
                    <h2>Ipsum street</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/5.jpg" />
                <div class="mask">
                    <h2>Games online</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/6.jpg" />
                <div class="mask">
                    <h2>Nothing but Game</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/2.jpg" />
                <div class="mask">
                    <h2>Ipsum street</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/1.jpg" />
                <div class="mask">
                    <h2>Games online</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
            <div class="view view-first">
                <img src="~/img/testMusor/4.jpg" />
                <div class="mask">
                    <h2>Nothing but Game</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <a href="single.html" class="info">Play It</a>
                </div>
            </div>
        </div>
        <div class="side-bar">
            <h4>New games</h4>
            <ul class="game-list">
                <li><a href="games.html">Shooting</a></li>
                <li><a href="games.html">Action</a></li>
                <li><a href="games.html">Cars</a></li>
                <li><a href="games.html">Wressling</a></li>
                <li><a href="games.html">bikes</a></li>
                <li><a href="games.html">bicycle</a></li>
                <li><a href="games.html">Racing</a></li>
                <li><a href="games.html">Zombies</a></li>
            </ul>
            <h4>Old games</h4>
            <ul class="game-list">
                <li><a href="games.html">Shooting</a></li>
                <li><a href="games.html">Action</a></li>
                <li><a href="games.html">Cars</a></li>
                <li><a href="games.html">Wressling</a></li>
                <li><a href="games.html">bikes</a></li>
                <li><a href="games.html">bicycle</a></li>
                <li><a href="games.html">Racing</a></li>
                <li><a href="games.html">Zombies</a></li>
                <li><a href="games.html">Action</a></li>
                <li><a href="games.html">Cars</a></li>
                <li><a href="games.html">Wressling</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Games Page Ends here -->
<!-- What New Part starts Here -->
<div class="what-new">
    <div class="container">
        <h3>What's new</h3>
        <div class="blog-news">
            <div class="blog-news-grid">
                <div class="news-grid-left">
                    <h4>06</h4>
                    <small>of january 2015</small>
                </div>
                <div class="news-grid-right">
                    <h4>Claritas est etiam processus</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="blog-news-grid b_n_g">
                <div class="news-grid-left">
                    <h4>28</h4>
                    <small>of january 2015</small>
                </div>
                <div class="news-grid-right">
                    <h4>Claritas est etiam processus</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-news b_n">
            <div class="blog-news-grid">
                <div class="news-grid-left">
                    <h4>21</h4>
                    <small>of january 2015</small>
                </div>
                <div class="news-grid-right">
                    <h4>Claritas est etiam processus</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="blog-news-grid b_n_g">
                <div class="news-grid-left">
                    <h4>05</h4>
                    <small>of january 2015</small>
                </div>
                <div class="news-grid-right">
                    <h4>Claritas est etiam processus</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- What New Part Endss Here -->
