<div class="header">
    <div class="container">
        <div class="logo">
            <a href="~/Home/Index"><img src="~/img/logo1.png" alt=""></a>
        </div>
        <span class="menu"></span>
        <div class="navigation">
            <ul class="navig cl-effect-3">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/Games">Games</a></li>
            </ul>
            
            @*<div class="search-bar">
                <input type="text" placeholder="search" required="" />
                <input type="submit" value="" />
            </div>*@

            <ul class="navig R cl-effect-3">
                @Html.Partial("_LoginPartial")
            </ul>

            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function () {
                    $(".navigation").slideToggle("slow", function () {
                        // Animation complete.
                    });
                });
            </script>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
